.trusted{
        padding-left: 108px;
        padding-right: 108px;
        padding-top: 55px;
        padding-bottom: 56px;
        background: rgba(44, 53, 61, 0.2);
         backdrop-filter: blur(25px);
        border-radius: 25px;
         border: 1px solid tomato;
}
.trusted-container{
        width: 1224px;
        margin-left: auto;
        margin-right: auto;
       
}
.trusted-title{
        margin-bottom: 55px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: calc(36/24);
        text-align: center;
}
.trusted-list{
        display: flex;
}
.trusted-item{
      width: calc((100% - 424px) / 4);  
}
.trusted-link{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 107px;
        
}
















