<footer>
    <a class="logo" href="">antools.</a>
    <p class="athor">Copyright 2021. Antools</p>
    <p class="">
        Antool is a web collection of information on paid or free Design and
        Development tools
    </p>
    <h3 class="footer-menu">Contact Us</h3>
    <address>
        <ul>
            <li>
                <a class="footer-items" href="tel:+621987463">+621987463</a>
            </li>
            <li>
                <a class="footer-items" href="" target="_blank" rel="noopener noreferrer nofolow">M Building, No.10
                    A</a>
            </li>
            <li><a class="footer-items" href="mailto:antools@awesome.com">antools@awesome.com</a></li>
        </ul>
    </address>
    <h3 class="footer-menu">Categories</h3>
    <ul>
        <li><a class="footer-items" href="">Design</a></li>
        <li><a class="footer-items" href="">Development</a></li>
    </ul>
    <h3 class="footer-menu">Company Info</h3>
    <ul>
        <li><a class="footer-items" href="">About Us</a></li>
        <li><a class="footer-items" href="">Our Partners</a></li>
        <li><a class="footer-items" href="">Blog</a></li>
    </ul>
</footer>
