<header class="header">
    <div class="section">
        <div class="section-logo">
            <img src="images/Group-159.svg" width="38" height="38" />
            <a class="logo" href="">antools.</a>
        </div>
        <nav class="menu">
            <ul class="menu-li">
                <li><a class="menu-item" href="">Home</a></li>
                <li><a class="menu-item" href="">Categories</a></li>
                <li><a class="menu-item" href="">My Collections</a></li>
                <li><a class="menu-item" href="">Blog</a></li>
            </ul>
        </nav>
        <ul class="menu-btn">
            <li><button class="enter-button" type="button">Login</button></li>
            <li><button class="enter" type="button">Sign Up</button></li>
        </ul>
    </div>
</header>