<section class="hero">
  <div class="container hero-container">
    <h1 class="hero-title">
      Awesome tools for Designer & Developers<span class="hero-dot">.</span>
    </h1>
    <p class="hero-description">
      Antool is a web collection of information on paid or free Design and
      Development tools
    </p>
    <form class="form-search">
      <svg class="icon-search" width="24" height="24">
        <use
          href="./images/symbol-defs.svg#icon-search"
          fill-opacity="0.38"
        ></use>
      </svg>
      <input
        class="input-search"
        type="search"
        name="search"
        id="search"
        placeholder="find more than 430+ tools..."
      />
      <label for="search"></label>
      <button class="search-btn" type="submit">Search</button>
    </form>
    <ul class="soc-list">
      <li class="soc-item">
        <a href="" target="_blank" rel="noopener noreferrer nofollow">
          <svg class="soc-icon" width="36" height="36">
            <use href="./images/symbol-defs.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="soc-item">
        <a href="" target="_blank" rel="noopener noreferrer nofollow">
          <svg class="soc-icon" width="36" height="36">
            <use href="./images/symbol-defs.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="soc-item">
        <a href="" target="_blank" rel="noopener noreferrer nofollow">
          <svg class="soc-icon" width="36" height="36">
            <use href="./images/symbol-defs.svg#icon-twitter"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
  <a href="#" class="js-open-modal modal__link" data-modal="1"
    >Открыть окно 1</a
  >
  <ul class="sm-list">
    <li class="sm-item"><a href="">facebook</a></li>
    <li class="sm-item"><a href="">instagram</a></li>
    <li class="sm-item"><a href="">twitter</a></li>
  </ul>
</section>
<div class="modal" data-modal="1">
  <!--   Svg иконка для закрытия окна  -->
  <svg
    class="modal__cross js-modal-close"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
    />
  </svg>
  <p class="modal__title">Заголовок окна 1</p>
</div>
