<section>
    <h2 class="title">Most Popular Tools</h2>
    <p class="description">
        Tools for the best Designers and Developers most popularly used in the
        world
    </p>
    <ul>
        <li>
            <h3 class="tools-title">FIGMA</h3>
            <span class="tools-span">Free</span>
            <p class="tools-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </li>
        <li>
            <h3 class="tools-title">Sketch</h3>
            <span class="tools-span">Trial & Paid</span>
            <p class="tools-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </li>
        <li>
            <h3 class="tools-title">Visual Studio Code</h3>
            <span class="tools-span">Free</span>
            <p class="tools-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </li>
        <li>
            <h3 class="tools-title">Notion</h3>
            <span class="tools-span">Free & Paid</span>
            <p class="tools-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </li>
        <li>
            <h3 class="tools-title">Slack</h3>
            <span class="tools-span">Free & Paid</span>
            <p class="tools-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </li>
        <li>
            <h3 class="tools-title">Invision</h3>
            <span class="tools-span">Free & Paid</span>
            <p class="tools-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </li>
    </ul>
    <button class="button-tools" type="button">Load more</button>
</section>