<section>
    <h2 class="title">Most Popular Tools</h2>
    <p class="description">
        Tools for the best Designers and Developers most popularly used in the
        world
    </p>
    <a href="#" class="js-open-modal modal__link" data-modal="2">Открыть окно 2</a>
    <ul>
        <li>
            <h3 class="tools-title">FIGMA</h3>
            <span class="tools-span">Free</span>
            <p class="tools-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </li>
        <li>
            <h3 class="tools-title">Sketch</h3>
            <span class="tools-span">Trial & Paid</span>
            <p class="tools-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </li>
        <li>
            <h3 class="tools-title">Visual Studio Code</h3>
            <span class="tools-span">Free</span>
            <p class="tools-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </li>
        <li>
            <h3 class="tools-title">Notion</h3>
            <span class="tools-span">Free & Paid</span>
            <p class="tools-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </li>
        <li>
            <h3 class="tools-title">Slack</h3>
            <span class="tools-span">Free & Paid</span>
            <p class="tools-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </li>
        <li>
            <h3 class="tools-title">Invision</h3>
            <span class="tools-span">Free & Paid</span>
            <p class="tools-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
        </li>
    </ul>
    <button class="button-tools" type="button">Load more</button>
</section>
<div class="modal" data-modal="2">
    <!--   Svg иконка для закрытия окна  -->
    <svg class="modal__cross js-modal-close" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path
            d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z" />
    </svg>
    <p class="modal__title">Заголовок окна 2</p>
</div>