<section class="section-newcomer">
  <h2 class="section-newcomer__title">Newcomer Tools</h2>
  <p class="section-newcomer__description">
    Wow! see the latest update of the most recommended tools from reliable
    designers and developers
  </p>
  <button class="section-newcomer__button" type="button">Explore more</button>
  <ul>
    <li>
      <h3 class="tools-title">FIGMA</h3>
      <span class="tools-span">Free</span>
      <p class="tools-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </li>
    <li>
      <h3 class="tools-title">Sketch</h3>
      <span class="tools-span">Trial & Paid</span>
      <p class="tools-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </li>
    <li>
      <h3 class="tools-title">Visual Studio Code</h3>
      <span class="tools-span">Free</span>
      <p class="tools-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </li>
    <li>
      <h3 class="tools-title">Notion</h3>
      <span class="tools-span">Free & Paid</span>
      <p class="tools-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </li>
  </ul>
</section>
