<section>
    <h3 class="team-title">Ronald Richards</h3>
    <p class="team-position">Product Manager</p>
    <p class="team-text">
      Incididunt cillum do sint sint enim ullamco id deserunt mollit qui
      reprehenderit do. Velit ex tempor cillum ad sint occaecat. Do nulla
      velit labore occaecat do deserunt Lorem magna officia incididunt
      consectetur amet. Sunt consectetur veniam minim ex commodo sint non.
      Occaecat aute officia excepteur non laboris id qui ad.
    </p>
  </section>