<section class="reviews">
 <div class="team-member">
   <img src="./images\Group 1418 (1).jpg" alt="man with long hair" width="399px" height="492px">
      <div class="team-wrap">
        <h3 class="team-title">Ronald Richards</h3>
        <p class="team-dscr">Product Manager</p>
      </div>
      <p class="team-text">
        Incididunt cillum do sint sint enim ullamco id deserunt mollit qui
        reprehenderit do. Velit ex tempor cillum ad sint occaecat. Do nulla
        velit labore occaecat do deserunt Lorem magna officia incididunt
        consectetur amet. Sunt consectetur veniam minim ex commodo sint non.
        Occaecat aute officia excepteur non laboris id qui ad.
      </p>
 </div>

<div class="one-time">
  <div class="slick-card">
    <h3 class="slick-card-title">1</h3>
    <img src="./images\Group 1418 (1).jpg" alt="man with long hair" width="399px" height="492px">
    <p class="team-text">
      Incididunt cillum do sint sint enim ullamco id deserunt mollit qui
      reprehenderit do. Velit ex tempor cillum ad sint occaecat. Do nulla
      velit labore occaecat do deserunt Lorem magna officia incididunt
      consectetur amet. Sunt consectetur veniam minim ex commodo sint non.
      Occaecat aute officia excepteur non laboris id qui ad.
    </p>
  </div>
  <div class="slick-card">
    <h3 class="slick-card-title">2</h3>
  </div>
  <div class="slick-card">
    <h3 class="slick-card-title">3</h3>
  </div>
  <div class="slick-card">
    <h3 class="slick-card-title">4</h3>
  </div>
  <div class="slick-card">
    <h3 class="slick-card-title">5</h3>
  </div>
  <div class="slick-card">
    <h3 class="slick-card-title">6</h3>
  </div>
</div>

  </section>