<section class="trusted">
  <div class="container-trusted">
        <h3 class="trusted-title">Trusted more than 150+ brand</h3>
        <ul class="trasted-list">
          <li class="trusted-item"><a class="trusted-link" href="">M</a></li>
          <li class="trusted-item"><a class="trusted-link" href="">G</a></li>
          <li class="trusted-item"><a class="trusted-link" href="">S</a></li>
          <li class="trusted-item"><a class="trusted-link" href="">W</a></li>
        </ul>
        </div>
</section>