<section class="trusted">
  <div class="container-trusted">
    <h3 class="trusted-title">Trusted more than 150+ brand</h3>
    <ul class="trusted-list list">
      <li class="trusted-item">
        <a class="trusted-link" href="">
          <svg class="trusted-icon" width="193px" height="42px">
            <use href="./images/icons.svg#icon-logos_microsoft"></use>
          </svg>
        </a>
      </li>
      <li class="trusted-item">
        <a class="trusted-link" href="">
          <svg class="trusted-icon" width="157px" height="51px">
            <use href="./images/icons.svg#icon-logos_google"></use>
          </svg>
        </a>
      </li>
      <li class="trusted-item">
        <a class="trusted-link" href="">
          <svg class="trusted-icon" width="194px" height="49px">
            <use href="./images/icons.svg#icon-logos_slack"></use>
          </svg>
        </a>
      </li>
      <li class="trusted-item">
        <a class="trusted-link" href="">
          <svg class="trusted-icon" width="194px" height="44px">
            <use href="./images/icons.svg#icon-logos_wordpress"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>